h1 {

    background-image: url(imagenes/Imagen1.jpg);
    background-size: cover;

background-repeat: no-repeat;
}


div{


    text-align: center;
    align-items: center;
    margin-top: 250px;
    border-radius: 78px;

}
.ke{ 
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}